@import 'bourbon/bourbon';
@import 'neat/neat';

/* VARIABLES
 ******************************************************************************/

$highlight-color: #FF702A;
$main-color: #000;
$background-color: #fff;
$base-unit: 1rem;

/* MIXINS
 ******************************************************************************/

@mixin font-condensed {
  font-family: "franklin-gothic-urw-cond", sans-serif;
  font-weight: 700;
}

@mixin font {
  font-family: "franklin-gothic-urw",sans-serif;
  font-weight: 400;
}

/* STYLES
 ******************************************************************************/

body {
  color: $main-color;
  @include font;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

section {
  background: $background-color;
  @include outer-container;
  overflow: scroll;
  padding: $base-unit*2 0;
  @include position(absolute, 0px 0 0px 0);
  @include shift(1);
  @include span-columns(10);
  @include omega;
  -webkit-overflow-scrolling: touch;

  hgroup {
    @include fill-parent;

    h1 {
      @include font-condensed;
      font-size: 300%;
      letter-spacing: 1px;
      margin: 0 0 $base-unit*2;
      text-transform: uppercase;

      a {
        color: $highlight-color;
        text-decoration: none;
      }
    }

    h2 {
      margin: 0 0 $base-unit*4;
    }
  }

  figure.graph {
    margin: 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        overflow: auto;
        padding: $base-unit/2 0;
      }

      label {
        display: inline-block;
        padding: $base-unit/2 0;
        @include span-columns(2 of 10);
        text-align: right;
      }

      input {
        border: 0;
        border: 1px solid lighten($main-color, 50%);
        border-radius: $base-unit*.2;
        @include box-shadow(inset 0 2px 2px rgba(0, 0, 0, .2));
        @include box-sizing(border-box);
        @include font;
        font-size: 100%;
        margin: 0 0 0 $base-unit;
        padding: $base-unit/2 $base-unit;

        &:focus {
          border-color: $highlight-color;
          outline: none;
        }

        &.invalid {
          border-color: red;
        }
      }

      .bar {
        border: 1px solid transparent;
        @include box-sizing(border-box);
        color: darken($background-color, 50%);
        display: inline-block;
        padding: $base-unit/2;
        position: relative;
        @include span-columns(8 of 10);
        z-index: 1;

        .guess {
          &:before {
            content: '(you guessed ';
          }

          &:after {
            content: ')';
          }
        }

        .fill {
          background: $main-color;
          @include position(absolute, 0px 0 0px 0px);
          width: 100%;
          z-index: -1;
        }
      }

      .bar.small {
        font-size: 60%;
      }

      .bar.big {
        font-size: 200%;
      }

      .bar.biggest {
        color: $highlight-color;
        font-size: 300%;
      }
    }
  }

  .action {
    margin-top: $base-unit*4;

    a {
      background: $highlight-color;
      @include box-sizing(border-box);
      color: #fff;
      display: inline-block;
      padding: $base-unit $base-unit/2;
      position: relative;
      @include span-columns(4 of 10);
      text-align: center;
      text-decoration: none;

      &.next {
        padding-right: $base-unit*2;

        &:after {
          $size: $base-unit*2.25;
          background: $highlight-color;
          content: '';
          display: block;
          height: $size;
          margin-top: -$size/2;
          position: absolute;
          right: -$size/2;
          top: 50%;
          @include transform(rotate(45deg));
          width: $size;
        }

        &:hover:after {
          background: darken($highlight-color, 10%);
        }

        &:active:after {
          background: $main-color;
        }
      }

      &:hover {
        background: darken($highlight-color, 10%);
      }

      &:active {
        background: $main-color;
        padding-bottom: $base-unit*.9;
        padding-top: $base-unit*1.1;
      }
    }
  }
}
